{% extends 'base.html.twig' %}

{% block title %}E-ShopSymfony{% endblock %}

{% block body %}
<div class="home-wrapper">
    <h1>E-ShopSymfony </h1>
    Welcome again, {{name}}
    <div class="home-content">
    //TODO: Add home page
    </div>


</div>
{% endblock %}
