{% extends 'base.html.twig' %}

{% block title %}E-ShopSymfony{% endblock %}

{% block body %}
<div class="home-wrapper">
    <h1>E-ShopSymfony </h1>
    <div {{ react_component('home/Home', { 'name': name }) }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>


</div>
{% endblock %}
