body {
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    340deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 55, 121, 0.8001400389257265) 59%,
    rgba(0, 212, 255, 1) 100%
  );
}

input,
select,
button {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    340deg,
    rgb(89, 78, 247) 0%,
    rgba(38, 97, 180, 0.8) 59%,
    rgb(26, 52, 59) 100%
  );
}

input:hover,
select:hover,
button:hover {
  opacity: 0.8;
}

.form-error {
  color: red;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: rgb(166, 164, 164);
}

a:hover {
  filter: hue-rotate(-45deg);
}
