.profile-wrapper {
  display: flex;
  flex-direction: column;
}

.profile-wrapper > div {
  justify-content: center;
  display: flex;
}

.profile-detail > div,
.profile-roles > div {
  border: 1px solid black;
  border: 1px solid black;
  display: flex;
  flex: 1 1 49%;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px rgb(17, 68, 78);
}

.profile-roles-list {
  display: flex;
  flex-direction: column;
}

.profile-roles-list > div {
  border-bottom: 1px solid rgb(17, 68, 78);
  width: 100%;
}
