{% extends 'base.html.twig' %}

{% block title %}Products list{% endblock %}

{% block body %}
    <div id="products" {{ react_component('products/Products', { 'products':  products, "admin": admin, "categories":categories }) }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
</div>
{% endblock %}


