{% extends 'base.html.twig' %}


{% block title %}Roles!{% endblock %}

{% block body %}
Roles
    <div {{ react_component('admin/Roles', { 'name': 'xd' }) }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
{% endblock %}
