{% extends 'base.html.twig' %}

{% block title %}Products list{% endblock %}

{% block body %}
Categories soon
    {# <div {{ react_component('products/Categories', { 'categories':  categories }) }}> #}
        {# Loading... <i class="fas fa-cog fa-spin fa-3x"></i> #}
    {# </div> #}
</div>
{% endblock %}


